@font-face {
  font-family: 'TradeGothicforNike365-BdCn';
  src: url('./fonts/TradeGothicforNike365-BdCn.eot'); /* IE9 Compat Modes */
  src: url('./fonts/TradeGothicforNike365-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/TradeGothicforNike365-BdCn.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/TradeGothicforNike365-BdCn.woff') format('woff'), /* Modern Browsers */
    url('./fonts/TradeGothicforNike365-BdCn.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/TradeGothicforNike365-BdCn.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicforNike365-Light';
  src: url('./fonts/TradeGothicforNike365-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/TradeGothicforNike365-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/TradeGothicforNike365-Light.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/TradeGothicforNike365-Light.woff') format('woff'), /* Modern Browsers */
    url('./fonts/TradeGothicforNike365-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/TradeGothicforNike365-Light.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
