---
layout: default
---

<div class="home">
  <img src="/img/Shine_Logo_2_Black.svg">
<h1>{{ site.description }}</h1>
</div>



  <div class="event-list">
    <div class="wrapper">
<h1> Latest Events </h1>
</div>
    {% for la in site.la limit:2 %}

<a class="event-link" href="{{ la.url }}">
    <div class="event-copy" style="background-image: url(/uploads/{{ la.img }});">
  <div class="wrapper">
    <div class="post-color" style=" background:{{la.background_color}};">

    </div>
    <h2> {{ la.city-name }}</h2>

        <h1>
          {{ la.title }}
        </h1>

</div>
      </div></a>
{% endfor %}

{% for sf in site.sf limit:2 %}

<a class="event-link" href="{{ sf.url }}">
<div class="event-copy" style="background-image: url(/uploads/{{ sf.img }});">
<div class="wrapper">
<div class="post-color" style=" background:{{sf.background_color}};">

</div>
<h2> {{ sf.city-name }}</h2>

    <h1>
      {{ sf.title }}
    </h1>

</div>
  </div></a>
{% endfor %}
  </div>
