---
layout: default
---

<div class="home">
<h1>{{ site.description }}</h1>
</div>



  <div class="event-list">
    <div class="wrapper">
<h1> Latest Events </h1>
</div>
    {% for la in site.la limit:2 %}


    <div class="event-copy" style="background-image: url(/uploads/{{ la.img }});">
  <div class="wrapper">
        <h2>
          <a class="event-link" href="{{ la.url }}">{{ la.title }}</a>
        </h2>

        <p class="post-meta"><time datetime="{{ la.date | date_to_xmlschema }}" itemprop="datePublished">{{ la.date | date: "%b %-d, %Y" }}</time>{% if la.author %} • <span itemprop="name">{{ la.author }}</span></span>{% endif %}</p>

</div>
      </div>
{% endfor %}
  </div>
