---
layout: default
---



  <div class="event-list">
    <div class="wrapper">
</div>
    {% for la in site.la limit:2 %}

<a class="event-link" href="{{ la.url }}">
    <div class="event-copy" style="background-image: url(/uploads/{{ la.img }});">
  <div class="wrapper">
    <div class="post-color" style=" background:{{la.background_color}};">

    </div>
    <h2> {{ la.city-name }}</h2>

        <h1>
          {{ la.title }}
        </h1>
<h2><a class="archive-date" >{{ la.date | date: "%m.%d.%Y" }}</a></h2>
</div>
      </div></a>
{% endfor %}

{% for sf in site.sf limit:2 %}

<a class="event-link" href="{{ sf.url }}">
<div class="event-copy" style="background-image: url(/uploads/{{ sf.img }});">
<div class="wrapper">
<div class="post-color" style=" background:{{sf.background_color}};">

</div>
<h2> {{ sf.city-name }}</h2>

    <h1>
      {{ sf.title }}
    </h1>
    <h2><a class="archive-date" >{{ sf.date | date: "%m.%d.%Y" }}</a></h2>

</div>
  </div></a>
{% endfor %}
  </div>
