/**
 * Site header
 */
.site-header {
  @include outer-container;
    // Positioning context for the mobile navigation icon
    position: relative;

       nav {
         @include span-columns(6);
@include shift(4);
    padding: 10px 0;

            ul {
              text-align: right;
              margin: 0;
              li {
                display: inline;
                margin: 2em;

                a {
                  font-family: 'TradeGothicforNike365-BdCn', arial, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
       }
}

.site-title {
  margin: 7px 0;
  @include span-columns(1);

  @media screen and (max-width: $break-small) {
      @include span-columns(2);
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
        margin: 3em 0 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;

    .post-color {
      width: 25px;
height: 25px;
float: left;
margin: 6px 14px 0 0;
    }
}

.page-heading {
    font-size: 1.3em;
    font-weight: $header-font-weight;
}

.event-list, .event-tweets {
@include outer-container;
margin-bottom: 1em;
}

.event-influencers {
  @include outer-container;
  margin: 2em 0;
  padding: 3em 0 0;
  border-top: 1px solid #eee;
}

.event-img {
    @include span-columns(6);
}
.event-copy {
  vertical-align: middle;
  min-height: 406px;
  height: 44vh;
  width: 100%;
  max-height: 742px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0;
  padding: 3em 0;

    h1 {
      font-size: 4em;
      line-height: 1;

      @media screen and (max-width: $break-large) {
        font-size: 3em;
        }

        @media screen and (max-width: $break-small) {
          font-size: 2em;
          }

    }

    h2 {
      font-size: 1.6em;

    }
}

.event-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


.archive-list {
  margin: 4em 0;
}

.archive-item {
  border-top: 1px solid #eee;
@include outer-container;
  text-decoration: none;
  list-style: none;
  padding: 9px 0;

    h2 {
      @include span-columns(10);
      font-size: 1.1em;
      margin-bottom: 0;
    }
    .archive-date {
      @include span-columns(2);
        color: $text-color;
    }

}

/**
 * Posts
 */



 .post {
   @include outer-container;
 }

.event-header {
  @include span-columns(12);
    margin-bottom: $spacing-unit;
}

.event-title {
    border-top: 1px solid #eee;
    font-size: 2em;
    padding-top: 1em;
}

.event-city-page {
    @include span-columns(5);
    @include shift(1);
    padding: 2em 0;

    @media screen and (max-width: $break-large) {
      width: 100%;
      margin: 0;
      }
}

.event-overview {
  @include outer-container;
  border-bottom: 1px solid #eee;
  margin-bottom: 3em;
}

.event-photos {
  @include outer-container;
  border-top: 1px solid #eee;
  padding-top: 2em;

    img {
      float: left;
display: block;
width: 24.23176%;

@media screen and (max-width: $break-large) {
  width: 100%;
  margin: 1em 0;
  }

    }
}


.event-content {
  @include span-columns(6);
    margin-bottom: $spacing-unit;
    padding: 2em 0;
    @media screen and (max-width: $break-large) {
      width: 100%;
      margin: 0;
      }

    h2 {
      font-size:1.5em;
      font-weight: 600;
    }

    h3 {
      font-size:1.2em;

    }

}

.pagination {
  @include outer-container;
  text-align: left;
    li {
      display: inline;
      padding-right: 3em;
    }
}
