---
layout: default
---


<div class="wrapper">

  <div class="event-overview">

  <div class="event-content" itemprop="articleBody">
    {{ content }}


    <div class="event-engagement">
      <h3>Impressions: <span>{{ page.impressions }}</span> </h3>

      <h3>City Page Views: <span>{{ page.city-page-views }} </span> </h3>

      <h3>Engagment Rate: <span>{{ page.engagement-rate }}</span> </h3>

      <h3>New Followers: <span> {{ page.new-followers }}</span> </h3>

      <h3>Registrants through NET: <span> {{ page.net-registrants }}</span> </h3>

      <h3>Total Attendees: <span> {{ page.attendees }}</span> </h3>
{% if page.snapchat-views %}
      <h3>Total Snapchat Views: <span> {{ page.snapchat-views }}</span> </h3>
  {% endif %}

    </div>
      </div>




  </div>
