---
layout: default
---

<div class="wrapper">
  {{ content }}



<h1> LA </h1>
  {% for la in site.la %}
      <section>
          <a href="{{ la.url }}">{{ la.title }}</a>
      </section>
    {% endfor %}

    <h1> SF </h1>
      {% for sf in site.sf %}
          <section>
              <a href="{{ sf.url }}">{{ sf.title }}</a>
          </section>
        {% endfor %}




        <h1> LOL </h1>
        {% for People in site.people %}
            <section>
                <a href="{{ People.url }}">{{ People.title }}</a>
            </section>
          {% endfor %}


  </div>
