---
layout: default
---

<div class="wrapper">
  {{ content }}

<div class=" city">
        <h1> Influencer Directory</h1>

        <div class="influencer-list">

                    {% for influencers in site.influencers %}

        <section class="influencer-individual">
          <img src="{{ influencers.image }}">

          <div class="influencer-bio">

          <a >{{ influencers.title }}</a>
          <p> {{influencers.content}}</p>
          <p> Instagram Followers: {{influencers.instagram}}</p>
          <p> City: {{influencers.city}}</p>
          <p> Relationship Owner: {{influencers.relationship_owner }}</p>
          <p> {{ influencers.title }}'s size: {{influencers.sizing }}</p>
          <p> Product Seeded: {{seeded_product }}</p>
          {% if influencers.city  =='LA'   %}
           <p> Events Attended:</p>  <a href="/la/{{ influencers.events.name | slugify: 'pretty' | replace: '+', '-plus' }}">{{influencers.events.name}} </a>
           {% endif %}

           {% if influencers.city  =='SF'   %}
            <p> Events Attended:</p>  <a href="/sf/{{ influencers.events.name | slugify: 'pretty' | replace: '+', '-plus' }}">{{influencers.events.name}} </a>
            {% endif %}
          </div>

              </section>


                {% endfor %}
          </div>
  </div>
  </div>
