---
layout: default
---

<div class="event-copy" style="background-image: url(/uploads/{{ page.img }});" >
  <div class="wrapper">

      <div class="post-color" style=" background:{{page.background_color}};">

      </div>
      <h2> {{ page.city-name }} // <span>{{ page.tag }} </span></h2>

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
<h2><a class="archive-date" >{{ page.date | date: "%m.%d.%Y" }}</a></h2>
    </div>
</div>
<div class="wrapper">

  <div class="event-overview">

  <div class="event-content" itemprop="articleBody">
    {{ content }}


    <div class="event-engagement">
      <h3>Impressions: <span>{{ page.impressions }}</span></h3>

      <h3>City Page Views <span>{{ page.views }} </span></h3>

      <h3>Engagment Rate  <span>{{ page.engagement }}</span> </h3>

      <h3>New Followers: <span> {{ page.new-followers }}</span></h3>

    </div>
      </div>

<div class="event-city-page">
<img src="/uploads/{{ page.city-page }}">
</div>
</div>

<div class="event-tweets">
<h1>{{ page.city }} Consumer Sentiment </h1>

  <div class="user-tweets">
    {% for user-tweet in site.user-tweets limit:10 %}

<h1>{{user-tweet.title }} </h1>
<p> {{user-tweet.content}}</p>
{% endfor %}

</div>






<div class="user-instas">
  {% for snkrs-instagram in site.snkrs-instagram %}
<img src="{{ snkrs-instagram.image }}">
{% endfor %}
</div>
</div>




<div class="event-photos">
  <h1>Event Photos </h1>

  {% for file in page.file %}
<img src="{{ file }}">
{% endfor %}
</div>

  </div>
