---
layout: default
---

<div class="wrapper">
<div class="page-content--entry">
<h1> Influencer Directory</h1>
<section class="page-content--list">
<div class="page-content--list__bio">
<img src="{{ page.image }}">
</div>

<div class="influencer-bio">
<h1>{{ page.title }}</h1>
<p> {{page.content}}</p>
<p> Instagram Followers: {{page.instagram}}</p>
<p> City: {{page.city}}</p>
<p> Relationship Owner: {{page.relationship_owner }}</p>
<p> {{ page.title }}'s size: {{page.sizing }}</p>
<p> Product Seeded: {{seeded_product }}</p>
{% if page.city =='LA' %}
<p> Events Attended:</p> <a href="/la/{{ page.events.name | slugify: 'pretty' | replace: '+', '-plus' }}">{{page.events.name}} </a>
{% endif %}
{% if page.city =='SF' %}
<p> Events Attended:</p> <a href="/sf/{{ page.events.name | slugify: 'pretty' | replace: '+', '-plus' }}">{{page.events.name}} </a>
{% endif %}
</div>

</section>
</div>
</div>
