---
layout: default
---

<div class="event-copy" style="background-image: url({{ page.background-post-image }});" >
  <div class="wrapper">

      <div class="post-color" style=" background:{{page.background_color}};">

      </div>
      <h2> {{ page.city-name }} // <span>{{ page.tag }} </span></h2>

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    </div>
</div>
<div class="wrapper">

  <div class="event-overview">

  <div class="event-content" itemprop="articleBody">
    {{ content }}


    <div class="event-engagement">
      <h3>Impressions: </h3><p>{{ page.impressions }}</p>

      <h3>City Page Views: </h3> <p>{{ page.city-page-views }} </p>

      <h3>Engagment Rate: </h3> <p>{{ page.engagement-rate }}</p>

      <h3>New Followers:</h3> <p> {{ page.new-followers }}</p>

      <h3>Registrants through NET:</h3> <p> {{ page.net-registrants }}</p>

      <h3>Total Revenue:</h3> <p> {{ page.total-revenue }}</p>

    </div>
      </div>

<div class="event-city-page">
<img src="{{ page.city-page-mobile-asset }}">
</div>
</div>

<div class="event-engagement">
<h1>User Engagement </h1>
  <div class="user-tweets">
  {% for asset in page.twitter-asset %}
<img src="{{ asset }}">
{% endfor %}
</div>

<div class="user-instas">
  {% for asset in page.instagram-asset %}
<img src="{{ asset }}">
{% endfor %}
</div>
</div>


<div class="event-photos">
  <h1>Event Photos </h1>

  {% for photographer-assets in page.photographer-assets %}
<img src="{{ photographer-assets }}">
{% endfor %}
</div>

  </div>
