---
layout: default
---

<div class="event-copy" style="background-image: url(/uploads/{{ page.img }});" >
  <div class="wrapper">

      <div class="post-color" style=" background:{{page.color}};">

      </div>
      <h2> {{ page.city-name }}</h2>

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    </div>
</div>
<div class="wrapper">

  <div class="event-overview">

  <div class="event-content" itemprop="articleBody">
    {{ content }}


    <div class="event-engagement">
      <h3>Impressions: <span>{{ page.impressions }}</span></h3>

      <h3>City Page Views <span>{{ page.views }} </span></h3>

      <h3>Engagment Rate  <span>{{ page.engagement }}</span> </h3>

      <h3>New Followers: <span> {{ page.new-followers }}</span></h3>

    </div>
      </div>

<div class="event-city-page">
<img src="/uploads/{{ page.city-page }}">
</div>
</div>

<div class="event-tweets">
<h1>{{ page.city }} Consumer Sentiment </h1>
<div id="ph-tweets"></div>
</div>


<div class="event-photos">
  <h1>Event Photos </h1>

  {% for file in page.file %}
<img src="{{ file }}">
{% endfor %}
</div>

  </div>
